
.error-title {
    font-size: 1.875rem; 
    font-weight: bold; 
    text-decoration: underline; 
  }
  
  .error-subtitle {
    font-size: 1.5rem; 
    font-weight: bold; 
    text-decoration: underline;
    padding-left: 1.25rem;
  }
  